#root {
  width: 100%;
  height: 100vh;
  background: #242424;
  color: #fff;
}

.details { 
  padding: 88px 24px 32px;
}

.apexcharts-text {
  fill: #fff;
}

.scroll-to-top {
  position: fixed;
  background: #065ea1;
  padding: 4px;
  bottom: 40px;
  right: 40px;
}

@media screen and (max-width: 1024px) {
  .details { 
    padding: 88px 16px 40px;
    overflow-x: scroll;
  }

  .scroll-to-top {
    bottom: 16px;
    right: 16px;
  }
}